.Register {
  composes: CentralizedContent from "../Pages.module.css"
}

.RegisterInputWrapper {
  composes: CentralizedContentInputWrapper from "../Pages.module.css"
}

.RegisterFormSubmit {
  composes: FormSubmit from "../Pages.module.css"
}
