.ResetPassword {
  composes: CentralizedContent from "../Pages.module.css"
}

.ResetPasswordInputWrapper {
  composes: CentralizedContentInputWrapper from "../Pages.module.css"
}

.ResetPasswordFormSubmit {
  composes: FormSubmit from "../Pages.module.css"
}
