.BurgerConstructorFirstBun {
  margin-bottom: 5px;
}

.BurgerConstructorMainItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  height: calc(100vh - 450px);
  overflow: auto;
}

.BurgerConstructorMainItemsItem {
  display: flex;
  align-items: center;
}

.BurgerConstructorLastBun {
  margin-top: 5px;
}

.BurgerConstructorTotal {
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}
