.Modal {
  background: #131316;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.ModalHeader {
  position: relative;
  min-height: 40px;
}

.ModalHeaderClose {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
}
