.ForgotPassword {
  composes: CentralizedContent from "../Pages.module.css"
}

.ForgotPasswordInputWrapper {
  composes: CentralizedContentInputWrapper from "../Pages.module.css"
}

.ForgotPasswordFormSubmit {
  composes: FormSubmit from "../Pages.module.css"
}
