.BurgerIngredientsTabs {
  display: flex;
}

.BurgerIngredientsItems {
  height: calc(100vh - 270px);
  overflow: auto;
}

.BurgerIngredientsItemsGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.BurgerIngredientsItem {
  position: relative;
  width: fit-content;
  text-align: center;
  cursor: pointer;
}

.BurgerIngredientsItemPrise {
  display: inline-flex;
}

.BurgerIngredientsItemName {
  height: 48;
}
