.AppHeader {
  position: relative;
  text-align: center;
}

.AppHeaderItem {
  display: flex;
}

.AppHeaderLinks {
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
}

.AppHeaderProfile {
  position: absolute;
  top: 0;
  right: 5%;
}
